@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

a {
    /*font-family: Rubik !important;*/
    color: #1a1a1a !important;
}

body {
    color: white;
    /*font-family: Rubik !important;*/
    line-height: 1.35 !important;
}

.navbar {
    text-shadow: none !important;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.223) !important;
    background-image: none !important;
    transition: 0.25s ease-in-out;
}

.fa {
    display: none !important;
}

.bg-primary {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

.col-md-9 a {
    background-image: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 15%,
        rgba(208, 222, 33, 1) 30%,
        rgba(79, 220, 74, 1) 45%,
        rgba(63, 218, 216, 1) 60%,
        rgba(47, 201, 226, 1) 75%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );

    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}