@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --md-default-fg-color: #e1e1e1;
  --md-default-fg-color--light: #d4d4d4;
  --md-default-fg-color--lighter: #9c9c9c;
  --md-default-fg-color--lightest: #292929;
  --md-default-bg-color: #191919;
  --md-default-bg-color--light: red;
  --md-default-bg-color--lighter: black;
  --md-default-bg-color--lightest: black;

  --md-footer-bg-color: black;
  --md-footer-bg-color--dark: black;

  --md-typeset-a-color: rgb(20, 155, 190);
}

body {
    font-family: Rubik !important;
}

header {
    font-family: Rubik !important;
}

footer {
    font-family: Rubik !important;
}

.md-nav__title {
    background: linear-gradient(
        45deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

.md-nav__source {
    background: black;
}

a:hover {
    color: rgb(80, 215, 250) !important;
}

.md-header__topic {
    color: black;
}

.md-header {
    background: linear-gradient(
        45deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

/*Blockquote formatting*/

blockquote {
    border-radius: 2px 20px 20px 2px !important;
    margin-right: 1rem;
    background-color: rgb(31, 31, 31);
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

hr {
    margin: 0.25rem !important;
}

p {
    margin-right: 0.25rem !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

h1 {
    font-weight: bold !important;
}

h3 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
}